<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.signaling.hq">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc" />

        <service
            android:name="io.rong.imlib.ReConnectService"
            android:exported="true" />

        <receiver
            android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true" />

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

    </application>

</manifest>
